server:
  port: 8080

spring:
  jackson:
    time-zone: UTC
    deserialization:
      accept_empty_string_as_null_object: true

  application:
    name: arka

  config:
    import: optional:file:.env[.properties]

  datasource:
    url: jdbc:postgresql://localhost:${POSTGRES_PORT}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASS}
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        formate_sql: true
        use_sql_comments: true

  sql:
    init:
      #Turn to never ones created the schema and papulated the data to avoid duplication errors
      mode: never
      schema-locations: classpath:schema.sql
      data-locations: classpath:data.sql

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always

